body{
  background: linear-gradient(rgb(3, 92, 92),#3b0314) no-repeat;
  height: 100vh;
}
button { 
  background-color: rgb(10, 133, 133);
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 50px;
  font-size: 1rem;


}

.container{
  width: 70%;
  margin: auto;  
  border: 2px solid white;
  border-radius: 20px;
}
#main-heading{
  color: white;
  text-align: center;
}
ul{
  padding: 0px;
  
}
.list-items{
  list-style-type: none;
  background-color: #fff;
  height: 50px;
  width: 90%;
  margin: 2px auto;
  text-align: center;
  line-height: 50px;
  
  
}